# Ignore node_modules folders
frontend/node_modules/
server/node_modules/

# Ignore environment files
server/.env

# Ignore build artifacts
frontend/build/
server/build/

# Ignore system files
.DS_Store
Thumbs.db
